Package: gay.rooot.geodeinject
Name: Geode
Version: 0.0.2
Architecture: iphoneos-arm
Description: Injects Geode into Geometry Dash.
Maintainer: rooot
Author: rooot
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Icon: https://raw.githubusercontent.com/RoootTheFox/geode-inject-ios/meow/misc/icon.png
